* text=auto eol=lf

*.py text diff=python
*.js text diff=javascript
*.ts text diff=typescript
*.json text
*.html text
*.css text

*.md text
*.yml text
*.yaml text

*.ipynb linguist-detectable=true
*.ipynb text
*.ipynb text linguist-language=Jupyter\ Notebook

*.sql linguist-detectable=true
*.sql linguist-language=sql
*.sql text

*.py linguist-detectable=true
*.py text linguist-language=python

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.exe binary
*.pdf binary
*.pkl binary
*.h5 binary

*.pkl -diff
*.h5 -diff

.vscode/* linguist-vendored
.DS_Store linguist-generated

